$grey : #F7F7F7;
$darkGrey : #FFFFFF;
$red : #CD091C;
$yellow : #F9AB13;
$blue : #3498db;

.header {
    position: fixed;
    width: 100%;
    z-index: 100;

    .heading {
        font-size: 24px;
        font-weight: bold;
        padding-left: 28px;

        &:hover {
            text-decoration: none;
        }
    }

    .search-box {
        padding: 10px;

        #search-field {
            padding: 5px;
            //width: 90%;

            &:focus {
                outline: none;
            }
        }

        #search-button {
            border-radius: 0;
            margin-left: -4px;
            margin-top: -2px;
            padding: 6px;
            width: 10%;
        }
    }
}

.content-wrapper {
    padding: 0;
    #subjects {
        display: block;
        height: 100%;
        background-color: $grey;
        overflow-y: scroll;
        position: fixed;
        top: 57px;
        left: 0;

        .book-category {
            padding: 35px 10px;

            .category {
                cursor: pointer;
            }
        }
    }

    .collection-wrapper {
        left: 210px;
        position: relative;
        padding: 10px 20px;
        top: 75px;

        .book-wrapper {
            border: none;
            padding-top: 20px;
            text-align: center;

            .content-wrapper {
                height: 405px;

                .book-image-wrapper {
                    position: relative;

                    .book-image {
                        width: 100%;
                        height: 260px;
                        transition: .5s all;
                        transition-delay: .1s;
                    }

                    .book-isbn {
                        display: none;
                        position: absolute;
                        left: 20%;
                        font-size: 18px;
                        top: 50%;
                    }

                    &:hover .book-image {
                        opacity: .1;
                        transition-delay: 0s;

                    }

                    &:hover .book-isbn {
                        display: block;
                    }
                }

                .book-name {
                    font-size: 16px;
                    font-weight: 600;
                    padding: 15px 0;
                    line-height: 18px;
                }

                .book-description {
                    line-height: 16px;
                    letter-spacing: .5px;
                    text-align: justify;
                }
            }

            .action-wrapper {
                overflow: auto;

                .rating-bar {
                    float: left;
                    padding-left: 10px;
                }
                .favourite {
                    float: right;
                    padding-right: 10px;
                }
                .icon {
                    padding: 1px;
                    font-size: 20px;
                    cursor: pointer;
                }

                .star-checked {
                    color: $yellow;
                }

                .heart-checked {
                    color: $red;
                }
            }

            .button {
                clear: both;
            }
        }

        .page-navigation {
            text-align: center;
            cursor: pointer;
        }

        .error {
            color: darken($grey, 60%);
            font-size: 36px;
            position: relative;
            left: 35%;
            top: 250px;
        }
    }
}

#book-modal {
    .modal-content {
        padding: 15px 25px;

        .modal-image-wrapper {
            margin-top: 17px;
        }
        .close-button {
            color: $darkGrey;
            font-size: 48px;
            opacity: .7;
            position: absolute;
            right: -58px;
            top: -30px;

            &:hover {
                opacity: 1;
            }
        }
        .book-title, .book-subtitle, .book-isbn {
            font-weight: 400;
        }
        .book-description {
            text-align: justify;
        }

        .modal-footer {
            border: none;
            text-align: center;
        }
    }
}

.loader {
    animation: spin 2s linear infinite;
    border: 16px solid $grey; /* Light grey */
    border-top: 16px solid $blue; /* Blue */
    border-radius: 50%;
    height: 80px;
    position: relative;
    left: 50%;
    width: 80px;
    top: 250px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 769px) and (min-width: 488px) {
    .header {
        .heading {
            padding-left: 0;
        }
    }
    .content-wrapper {
        #subjects {
            padding: 0;
        }
        .collection-wrapper {
            left: 125px;

            .book-wrapper {
                .content-wrapper {
                    height: 400px;

                    .book-image-wrapper {
                        .book-image {
                            height: 200px;
                        }
                    }

                    .book-description {
                        text-align: left;
                    }
                }
            }
            .loader {
                left: 45%;
            }
        }

    }

    #book-modal {
        .modal-content {
            .modal-image-wrapper {
                margin-top: 50px;
            }
        }
    }
}

@media screen and (max-width: 488px) {

    .header {
        text-align: center;
        .navbar-brand {
            padding: 20px;
            float: none;

            .heading {
                padding-left: 0;
                font-size: 30px;
            }

        }

    }

    .content-wrapper {
        #subjects {
            padding: 0;
            z-index: 100;
            top: 120px;

            .icon-bar {
                color: orange;
            }
        }
        .collection-wrapper {
            left: 0;
            top: 150px;

            .book-wrapper {
                .content-wrapper {
                    height: 485px;

                    .book-image-wrapper {
                        .book-image {
                            height: 355px;
                        }
                    }

                    .book-description {
                        text-align: center;
                    }
                }
            }
            .loader {
                left: 45%;
            }
        }

    }

    #book-modal {

        .modal-content {

            .close-button {
                display: none;
            }
            .modal-image-wrapper {
                margin: auto;
            }
            .book-title, .book-subtitle, .book-isbn {
                font-weight: 400;
            }
            .book-description {
                text-align: justify;
            }


        }
    }
}
