<html>
    <head>
        <title>Layout-2</title>
        <link href="css/layout-1-style.css" rel="stylesheet" type="text/css">
        <link href="css/layout-1-media-style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <header>
                <div class="company-name">Company</div>
                <div class="right-align">
                    <a href="" class="link">Home</a>
                    <a href="" class="link">About</a>
                    <a href="" class="link">Product</a>
                </div>
            </header>
            <div class="main-content">
                <nav>
                    <ul>
                        <li><a href=""><i class="fa fa-hand-o-right" style="font-size:24px"></i> Admission</a></li>
                        <li><a href=""><i class="fa fa-hand-o-right" style="font-size:24px"></i>Research</a></li>
                        <li><a href=""><i class="fa fa-hand-o-right" style="font-size:24px"></i> Alumni</a></li>
                        <li><a href=""><i class="fa fa-hand-o-right" style="font-size:24px"></i> Carrer</a></li>
                    </ul>
                </nav>
                <section>
                    <div class="box-section-1">
                        <table>
                            <thead>
                                <tr>
                                    <th>Important Notice</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>sadhsdj<br/>kadjsf<br/>adsljf</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-section-2">
                        <table>
                            <thead>
                                <tr>
                                    <th>Important Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><iframe src="" width="100%" height="200px;"></iframe
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <aside>
                    <h1>Login</h1>
                    <form>
                        <input type="text" placeholder="Username" >
                        <input type="password" placeholder="Password">
                        <input type="submit" value="Login">
                    </form>
                </aside>
            </div>
            <div class="footer-content">
                <footer>
                    <span>Design By</span>
                </footer>
            </div>
            <div class="chat">
                <a href="">Chat with Us</a>
            </div>
        </div>
    </body>
</html>
