@media screen and (max-width: 480px) {
    .navigation .nav-inner {
        display: none;
    }
    .navigation .resp-nav-inner {
        display: block;
    }
    .navigation  .resp-nav-inner .logo-image {
        width: 150px;
        vertical-align: middle;
    }
    .nav-icon {
        display: block;
        top: 5%;
        left: 5%;
    }
    .section-1 .content {
        padding: 200px 0px;
    }
    .section-1 .content .heading {
        font-size: 32px;
        text-align: center;
    }
    .section-1 .content .sub-heading {
        font-size: 18px;
        font-weight: 200;
        padding: 0px 15px;
    }
    .section-2 {
        width: 90%;
        margin: 30px auto;
    }
    .section-2 .left-content  {
        width: 100%;
    }
    .section-2 .left-content h1 {
        font-size: 26px;
        font-weight: 600;
    }
    .section-2 .right-content {
        width: 100%;
    }
    .section-2 .right-content .data .box {
        padding: 20px 0;
    }
    .section-4 .head-image {
        width: 350px;
    }
    .section-4 {
        box-sizing: border-box;
        margin: 30px auto;
        width: 90%;
    }
    .section-4 .section-body {
        width: 100%;
    }
    .section-4 .section-body .row .col {
        width: 100%;
        margin: 10px 0;
    }
    .section-5 .section-body {
        width: 90%;
        margin: 0px auto;
    }
    .section-5 .section-body .row .col {
        width: 100%;
        margin: 10px 0px;
    }
    .section-6 h1 {
        font-size: 36px;
    }
    .section-6 p {
        font-size: 14px;
        margin: 20px;
    }
    .section-7 .circle {
        font-size: 18px;
        min-width: 20px;
        min-height: 10px;
        padding: 10px;
    }
    .section-8 span {
        display: block;
        font-size: 14px;
        padding: 10px;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .navigation .nav-inner {
        display: none;
    }
    .navigation .resp-nav-inner {
        display: block;
    }
    .navigation  .resp-nav-inner .logo-image {
        width: 150px;
        vertical-align: middle;
    }
    .nav-icon {
        display: block;
        top: 4%;
        left: 10%;
    }

    .section-1 .content {
        padding: 250px 75px;
    }
    .section-2 {
        width: 90%;
        margin: 30px auto;
    }
    .section-2 .left-content  {
        width: 70%;
    }
    .section-2 .right-content {
        width: 30%;
    }
    .section-4 .head-image {
        width: 200px;
    }
    .section-4 {
        box-sizing: border-box;
        padding: 75px 5px;
        width: 100%;
    }
    .section-4 .section-body {
        width: 98%;
        margin: 50px auto 20px;
    }
    .section-4 .section-body .row .col {
        width: 45%;
    }
    .section-5 .section-body {
        width: 95%;
        margin: 0px auto;
    }
    .section-5 .section-body .row .col {
        width: 28%;
    }
    .section-8 span {
        display: block;
    }

}

@media screen and (min-width: 769px) {
    .navigation .nav-inner {
        display: block;
    }
    .navigation .resp-nav-inner {
        display: none;
    }
    .navigation  .nav-inner .logo-image {
        width: 200px;
        vertical-align: middle;
    }
    .section-1 .content {
        margin-top: -90px;
        padding: 300px 175px;
    }
    .section-2 {
        width: 80%;
        margin: 30px auto;
    }
    .section-2 .left-content  {
        width: 70%;
    }
    .section-2 .right-content {
        width: 25%;
    }
    .section-4 {
        box-sizing: border-box;
        padding: 75px 5px;
        width: 100%;
    }
    .section-4 .head-image {
        width: 300px;
    }
    .section-4 .section-body {
        width: 80%;
        margin: 50px auto 20px;
    }
    .section-4 .section-body .row .col {
        width: 29%;
    }
    .section-5 .section-body {
        width: 80%;
        margin: 50px auto;
    }

}
